<div>
	<div class="col-md-3 pull-right input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" placeholder="search" class="form-control" ng-model="search">
     </div>
	<table class="table table-striped">
		<thead>
			<th ng-repeat="column in columns" ng-click="sort(column)">
				<div class="sort-icon">
					<span class="glyphicon glyphicon-chevron-up" ng-show="sortStatus(column) == 'asc' || sortStatus(column) == 'sortable'"></span>
					<span class="glyphicon glyphicon-chevron-down" ng-show="sortStatus(column) == 'desc' || sortStatus(column) == 'sortable'"></span>
				</div>
				<span>{{ column | displayName:this }}</span>
			</th>
		</thead>
		<tbody>
			<tr ng-repeat="row in tableData | orderBy: sorter | search: search: this | paginator: this">
				<td ng-repeat="column in columns">
					{{ row[column] }}
				</td>
			</tr>
		</tbody>
	</table>
	<ul class="pagination">
	  <li ng-class="{disabled: current_page == 1}"><a href="" ng-click="prevPage()" >&laquo;</a></li>
	  <li ng-repeat="n in [] | range: no_of_pages" ng-class="{active: n==current_page}"><a href="" ng-click="setCurrentPage(n)" >{{n}}  <span class="sr-only">(current)</span></a></li>
	  <li ng-class="{disabled: current_page == no_of_pages}"><a href="" ng-click="nextPage()" >&raquo;</a></li>
	</ul>
</div>